.container {
    display: flex;
    justify-content: center; /* Center-aligns the buttons */
    align-items: center;     /* Vertically centers the buttons */
    margin-top: 1rem;
  }
  
  .button {
    margin: 5px; /* Remove margin to eliminate space between buttons */
    padding: 0.5rem 1rem;
    background-color: #151c2c; /* Tailwind's gray-600 */
    color: white;
    border: none;
    border-radius: 0.375rem; /* Tailwind's rounded-md */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #092556; /* Tailwind's gray-700 */
  }
  
  .button:disabled {
    background-color: #151c2c; /* Tailwind's gray-400 */
    cursor: not-allowed;
  }
  
  .active {
    background-color: #3182ce; /* Tailwind's blue-500 */
  }
  